html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* GRID */
.row {clear: both;}
.limited {
    max-width: 1140px; 
    margin: auto;
}

.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-12 {width: 100%;}
.small-6 {width: 50%;}















.clearfix:after {
  content: "";
  display: table;
  clear: both;
}